.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/.gitignore
/.idea/misc.xml
/.idea/vcs.xml
/.idea/gradle.xml
.idea
.idea/vcs.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml