<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juttec.goldmetal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShareActivity"
            android:label="ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountActivity"
            android:label="AccountActivity" />
        <activity
            android:name=".activity.ChangePWDActivity"
            android:label="ChangePWDActivity" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:label="ContactUsActivity" />
        <activity
            android:name=".activity.FindBcakPWDActivity"
            android:label="FindBcakPWDActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="MainActivity" />
        <activity
            android:name=".activity.PriceReductionActivity"
            android:label="PriceReductionActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="RegisterActivity" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ParameterSettingActivity"
            android:label="ParameterSettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ChartActivity"></activity>
        <activity android:name=".activity.FreeRemindActivity"></activity>
        <activity android:name=".activity.PublishTopicActivity" />
        <activity
            android:name=".activity.AnalysisActivity"
            android:label="AnalysisActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.FollowActivity"></activity>
        <activity android:name=".activity.MessageActivity"></activity>
        <activity android:name=".activity.MessageDetailActivity"></activity>
        <activity android:name=".activity.CreateAccountApply"></activity>
        <activity android:name=".activity.Announcementactivity"></activity>
        <activity android:name=".activity.MomentPersonalActivity"></activity>
    </application>

</manifest>
