<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juttec.goldmetal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ShareActivity"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AccountActivity"
            android:label="AccountActivity"></activity>
        <activity
            android:name=".activity.ChangePWDActivity"
            android:label="ChangePWDActivity"></activity>
        <activity
            android:name=".activity.ContactUsActivity"
            android:label="ContactUsActivity"></activity>
        <activity
            android:name=".activity.FindBcakPWDActivity"
            android:label="FindBcakPWDActivity"></activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="LoginActivity"></activity>
        <activity
            android:name=".activity.PriceReductionActivity"
            android:label="PriceReductionActivity"></activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="RegisterActivity"></activity>
    </application>

</manifest>
